html(lang="ko")
    head
        title=title
        meta(charset="utf-8")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    body
        include ./inc/navi.pug

        //- PUG if문
        if titleChk == "true"
            block title

        block content
        include ./inc/footer.pug